<!DOCTYPE css>

body {
	background-color:black
 }

h1 {
		font-family;arial;
		color: pink;
 }

h2 {
		font-family:comic-sans;
		color: purple;
 }

p {
		background-color:coral;
		font-family: blue;
 }